# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Java
target/
*.class

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Camera/media files
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png